* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	margin-top: 10px;
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	
}

.reel-header-bar{
	color: white;
	font-weight: bold;
	padding-top: 10px;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.rip>i,.cerca>i{
	font-size: 20px;

}

.reel-menu{
	display: flex;
	justify-content: center;
	gap: 13px;
}

.seguiti{
	position: relative;
	color: rgba(221, 218, 218, 0.684);
}

.esplora{
	color: rgba(221, 218, 218, 0.684);
}

.pallino{
	height: 8px;
	width: 8px;
	background-color: rgba(255, 0, 0, 0.468);
	border-radius: 50px;
	position: absolute;
	top: 0;
	right: 0;
	translate: 10px -3px;
}

.per-te{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quadratino{
	height: 4px;
	width: 20px;
	background-color: white;
}


/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.description{
	padding-left: 10px;
	margin-bottom: 4px;
}

.description>p{
	font-size: small;
}

.Foot-bar{
	width: 100%;
	height: 50px;
	margin-top: 5px;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.Foot-bar>p{
	margin: 0;
	text-align: center;
	font-size: 10px;
}


.amici,.posta-arrivo,.profilo{
  color: grey;
}

.nuovo{
	position: relative;
	width: 45px;
	height: 30px;
	background-color: white;
	border-radius: 10px;
	border-left: solid cyan 4px;
	border-right: solid magenta 4px;
}

.piu{
	position: absolute;
	color: #ff0;
}

.nuovo{
	display: flex;
	flex-direction: column;
	align-items:start;
}

.posta-arrivo{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.amici{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profilo{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home>p,.amici>p,.posta-arrivo>p,.profilo>p{
	font-size: 10px;
}

.notifiche{
	color: white;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	width: 20px ;
	height: 15px;
	background-color: red;
	border-radius: 50px;
	top: 0;
	right: 0;
	translate: -15px;
}

.profilo>i,.posta-arrivo>i,.amici>i,.home>i{
	font-size: 22px;
}

/* Sidebar */
.sidebar {

	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	text-align: center;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	gap: 28px;

}

.im-pro>img{
	width: 40px;
	height: auto;
	border-radius: 50px;
	border: solid white 2px;
}

.im-pro{
	padding-top: 30px;
	position: relative;
}

.segui{
	width: 13px;
	height: 13px;
	background-color: red;
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	translate: 15.5px 2px;

}

.segui>i{
	position: absolute;
	font-weight: bold;
	font-size: 18px;
	bottom: 0;
	left: 0;
	translate: -2.5px 6px;
}

.like>i ,.commento>i , .save>i ,.share>i{
	font-size: 30px;
}


